*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Exo, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 90%;
  margin: auto;
  /* background-color: orange; */
}
.head {
  text-align: center;
  margin: auto;
  padding: 40px;
  color: #333333;
  font-weight: bolder;
}
.head h2 {
  font-size: 40px;
}
.head p {
  padding: 10px;
  font-size: x-large;
  color: #333333;
}
.textcolor {
  color: #8e51ff;
}

.clr {
  clear: both;
}
.navbar {
  background-color: #f5f3ff;
  padding-block: 10px;
  border: #e9e5ff solid 1px;
  position: fixed;
  width: 100%;
  z-index: 99999999;
}
.logo h2 {
  color: black;
  padding: 5px;
  float: left;
  font-size: 24px;
}
.navbar .container .logo img {
  width: 35px;
  float: left;
  padding: 5px;
  background-color: #8e51ff;
  border-radius: 8px;
}
.navbar .container .nav-links {
  float: right;
}
.navbar .container .nav-links ul li {
  float: left;
  padding: 10px;
  list-style: none;
  font-size: large;
}
.navbar .container .nav-links ul li a {
  position: relative;
  padding: 5px;
}
.navbar .container .nav-links ul li a.active {
  color: #8e51ff;
}
.navbar .container .nav-links ul li a::after {
  content: "";
  width: 0%;
  left: 0;
  bottom: 0;
  background-color: #8e51ff;
  position: absolute;
  height: 2px;
  transition: 1s ease-in-out;
}
.navbar .container .nav-links ul li a:hover::after {
  width: 100%;
}
.hero_section {
  width: 100%;
  height: 120vh;
  padding-top: 80px;
}
.hero_section .container img {
  float: left;
  width: 50%;
  padding: 20px;
  border: #e1e3e7 solid 1px;
  border-radius: 5%;
}
.hero_section .container .hero_Content {
  float: right;
  width: 50%;
  padding: 40px;
}
.f1_span {
  color: white;
  background-color: #a684ff;
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;
}
.hero_Content h1 {
  font-size: 50px;
  padding: 10px;
}
.f2_span {
  color: #a684ff;
}
.hero_font1 {
  font-size: 20px;
  padding: 10px;
}
.hero_Content h3 {
  font-size: 40px;
  padding: 10px;
  font-weight: bolder;
  display: inline;
}
.hero_save {
  text-decoration: line-through;
  display: inline;
  font-size: 25px;
}
.hero_save2 {
  background-color: #ffe2e2;
  padding: 10px;
  color: #e7000b;
  margin-left: 10px;
  border-radius: 8px;
  display: inline;
}
.btn1 {
  background-color: #8e51ff;
  color: white;
  margin-top: 10px;
  padding-inline: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 8px;
  transition: 1s;
}
.btn1:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.btn2 {
  background-color: #8e51ff;
  color: white;
  margin-top: 10px;
  padding-inline: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 8px;
  transition: 1s;
}
.btn2:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Specifications {
  background-color: #f7f5ff;
  height: 180vh;
}
.table_content {
  width: 100%;
  border-radius: 8px;
  padding: 40px;
  border: #ccc solid 1px;
  background-color: white;
}
td,
th {
  border-bottom: 1px solid #ccc;
}
table {
  border-collapse: collapse;
}
th p {
  font-weight: 400;
  font-size: 16px;
}
.Specifications_Content {
  width: 90%;
  margin: auto;
}
.feature_column {
  width: 20%;
}
.feature_column img {
  width: 28%;
  float: left;
  padding: 10px;
}
.feature_column p {
  float: left;
  padding-top: 25px;
}

.DJ {
  width: 20%;
  text-align: center;
  padding: 20px;
}
.DJ img {
  width: 20%;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}
.DJ p {
  display: inline-block;
  vertical-align: middle;
}
.badge {
  background: #7c4dff;
  color: white;
  border-radius: 20px;
}
.center-item {
  text-align: center;
}
.redp {
  color: red;
}
.bold-item {
  font-weight: bolder;
  font-size: 25px;
}
.color-item {
  color: #8e51ff;
}
.rating {
  text-align: center;
  padding: 20px;
}
.rating img {
  width: 15%;
}
.rating p {
  font-size: larger;
}
.result {
  width: fit-content;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  border: #ccc solid 1px;
}
.result img {
  width: 50px;
  float: left;
}
.result h4 {
  margin-top: 5px;
  color: #00c950;
}
.result p {
  color: #00c950;
}
.over {
  border: none;
}
.RatingandReviews {
  position: relative;
}
.Stiky_card {
  width: 40%;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  border: #e5e7eb solid 3px;
  float: left;
  position: sticky;
  top: 70px;
}
.Stiky_card h3 {
  padding: 15px;
  font-size: 30px;
}
.Stiky_card p {
  padding-top: 15px;
}
.Stiky_card img {
  width: 8%;
  display: inline-block;
  margin: auto;
}
.rating_bar p {
  display: inline-block;
  padding-inline: 20px;
}
.clearbar {
  display: inline-block;
  background-color: #e5e7eb;
  width: 60%;
  height: 2vh;
  border-radius: 8px;
  margin: 0 20px;
}
.percentbar {
  background-color: #f0b100;
  width: 40%;
  height: 2vh;
  border-radius: 8px;
}
.percentbar1 {
  background-color: #f0b100;
  width: 20%;
  height: 2vh;
  border-radius: 8px;
}
.percentbar2 {
  background-color: #f0b100;
  width: 15%;
  height: 2vh;
  border-radius: 8px;
}
.percentbar3 {
  background-color: #f0b100;
  width: 10%;
  height: 2vh;
  border-radius: 8px;
}
.percentbar4 {
  background-color: #f0b100;
  width: 5%;
  height: 2vh;
  border-radius: 8px;
}
.Stiky_card hr {
  width: 80%;
  margin: auto;
  color: #dde0e5;
}
.rating_result {
  display: inline-block;
  margin: 20px;
  padding: 10px;
}
.rating_result h4 {
  font-size: xx-large;
}
.cards-review {
  float: right;
  width: 60%;
  padding: 0px 30px;
}
.card {
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: #ecedf0 3px solid;
}
.reviewer_details {
  float: left;
}
.reviewer_details .personimg {
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  border: #a684ff 2px solid;
}
.reviewer_details img {
  width: 20px;
}
.persondetails {
  display: inline-block;
}
.persondetails h5 {
  font-size: x-large;
  font-weight: bolder;
}
.card .persondetails p {
  padding: 0%;
}
.time_detail {
  float: right;
}
.time_detail h6 {
  font-weight: bold;
  font-size: 16px;
  color: #5d0ec0;
  background-color: #ede9fe;
  padding: 5px;
  border-radius: 8px;
}
.card .time_detail p {
  text-align: end;
  padding: 5px;
}
.card p {
  padding: 10px;
}
.btn {
  margin-top: 80px;
  text-align: center;
}
.btn button {
  background-color: #8e51ff;
  color: white;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 30px;
  border: #8e51ff 2px solid;
  transition: 1s;
}
.btn button:hover {
  background-color: white;
  color: #8e51ff;
  border: #8e51ff 2px solid;
  cursor: pointer;
}
.realted_product {
  background-color: #f7f5ff;
}
.product_cards .product_card {
  width: 25%;
  float: left;
}
.product_cards .product_card .product_image {
  position: relative;
}
.product_cards .product_card .product_image img {
  width: 100%;
  border-radius: 15px;
}
.product_cards .product_card .product_image span {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #00bba7;
  color: white;
  padding: 10px;
  border-radius: 25px;
}
.product_cards .product_card .product_image #pbk2 {
  background-color: #00c950;
}
.product_cards .product_card .product_image #pbk3 {
  background-color: #00b8db;
}
.product_cards .product_card .product_image #pbk4 {
  background-color: #ff6900;
}
.product_cards .product_card h6 {
  padding: 10px 0;
  font-size: 24px;
}
.product_cards .product_card .product_price {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  float: left;
}
.product_cards .product_card .product_details {
  padding: 20px 0;
}
.product_cards .product_card span {
  background-color: #8e51ff;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  float: right;
}
.product_cards .product_card .product_container {
  margin: auto;
  width: 90%;
  padding: 30px;
  border-radius: 15px;
  border: #e5e7eb 3px solid;
  background-color: white;
}
.product_cards .product_card .product_container img {
  transition: 1s;
}
.product_cards .product_card .product_container:hover img {
  transform: scale(1.1);
}
.product_cards .btn button {
  background-color: transparent;
  color: #8e51ff;
  border: #8e51ff 2px solid;
  margin-bottom: 40px;
  transition: 1s;
}
.product_cards .btn button:hover {
  background-color: #8e51ff;
  color: white;
  border: #8e51ff 2px solid;
  transition: 1s;
}
.footer {
  background-color: #101828;
  color: white;
}
.footer .footer_one {
  width: 25%;
  float: left;
}
.footer .footer_one .logo {
  width: 35px;
  float: left;
  padding: 5px;
  background-color: #8e51ff;
  border-radius: 8px;
}
.footer .footer_one h3 {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
}
.footer .footer_one p {
  padding: 30px 15px;
  padding-left: 0;
}
.logo_facebook {
  background-color: #1e2939;
  float: left;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
  transition: 80ms;
  cursor: pointer;
}
.logo_facebook:hover {
  background-color: #1877f2;
}
.logo_twitter {
  background-color: #1e2939;
  float: left;
  width: 50px;
  padding: 10px;
  margin-right: 5px;
  border-radius: 10px;
  transition: 80ms;
  cursor: pointer;
}
.logo_twitter:hover {
  background-color: #1da1f2;
}
.logo_instagram {
  background-color: #1e2939;
  float: left;
  width: 50px;
  padding: 10px;
  margin-right: 5px;
  border-radius: 10px;
  transition: 80ms;
  cursor: pointer;
}
.logo_instagram:hover {
  background-color: #e4405f;
}
.logo_youtube {
  background-color: #1e2939;
  float: left;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
  transition: 80ms;
  cursor: pointer;
}
.logo_youtube:hover {
  background-color: #ff0000;
}
.footer_two {
  width: 25%;
  float: left;
  text-align: left;
}
.footer_two h4 {
  margin-bottom: 15px;
}
.footer_two ul li {
  padding: 8px 0;
  color: #707b8d;
  cursor: pointer;
  width: fit-content;
}
.footer_two ul li:hover {
  color: white;
}
.footer_two ul {
  list-style: none;
  padding: 0;
}
.footer .container hr {
  background-color: #172030;
}
.footer_endtext {
  float: left;
}
.footer_endphoto {
  float: right;
  width: 60px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
}
.master {
  float: right;
  width: 40px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
}
